/*.container-fluid,body,html{*/
/*height: 100%;*/
/*}*/
a{
    color: white;
}
.bgg{
    background-image: url("../hh.jpg");
    background-size: cover;
}
.backimg{
    background-image: url("../images.jpg");
    height: 300px;
    background-size: cover;
}
@font-face {
    font-family: 'FontAwesome';
    font-weight: normal;
    font-style: normal;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.fa-plus-circle:before {
    content: "\f055";
}
.tint{background-size: cover;background-image:url(../images.jpg);min-height:500px;background-attachment:fixed;background-position:center;background-repeat:no-repeat;background-size:cover;width:100%;z-index:2;position:relative;float:left;cursor:pointer}
.tint:before{content:"";display:block;position:absolute;top:0;bottom:0;left:0;right:0;background:rgba(0,0,0,0.3);-moz-transition:all .2s linear;-webkit-transition:all .2s linear;-ms-transition:all .2s linear;-o-transition:all .2s linear;transition:all .2s linear;z-index:3}
.tint div,.tint p{position:relative;z-index:4}
.bg {
    background-color: #f7ecb5;
    background-size: cover;
    position: absolute;
    top:0px;
    left: 0px;
    max-width: 100%;
    background-repeat: no-repeat;
}
.mdown{
    margin-bottom: 150px;
}
.navbar {
    background-color: transparent;
    background: transparent;
    border-color: transparent;
}

.font {
    font-family: "mry_KacstQurn";
}


input[type="text email"] {
    background: transparent;
    border: none;
}

.clear-sml {
    clear: both;
    margin-top: 18px;
    margin-bottom: 18px;
}

.clear-sml3 {
    clear: both;
    margin-top: 10px;
    margin-bottom: 10px;
}

.text-center {
    text-align: center;
}

.twnty_four {
    font-size: 24px;
}

.twnty {
    font-size: 20px;
}

.white {
    color: #ebcccc;
}

.orange {
    color: #d9534f;
}

.black {
    color: #1d1e1f;
}

.dark_orange {
    color: #843534
}

.box_left {
    margin-left: 750px;
}

.box_right {
    margin-top: 270px;
    margin-right: 750px;
}

.clr-sml {
    height: 10px;
}
.ali{
    margin-top: 40px;
    border: 1px;
    border-radius: 10px;
    box-shadow:1px 1px 5px #1d1e1f;
}
.shadow{
    box-shadow: 1px 0px  5px #1d1e1f;
}
.bor{
    border: 1px solid white;
}

.cart{
    width: 250px;
    box-shadow: 1px 1px 5px #1d1e1f;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 25px;
    margin-right: 25px;
}
.mleft{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
}
.mgleftsort{margin-left: 50px;}
.mgtopdown{
    margin-top: 100px;
}